.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px 20%;
}

.ToolBar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.btn {
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
}

.project-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
  gap: 20px;
}